<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maizi.fund.mapper.InvtCashGuideMapper" >

    <resultMap id="BaseResultMap" type="com.maizi.fund.model.domain.InvtCashGuideDO" >
        <result column="real_name" property="realName" jdbcType="CHAR" />
        <result column="register_time" property="registerTime" jdbcType="CHAR" />
        <result column="recharge_cnt" property="rechargeCnt" jdbcType="CHAR" />
        <result column="bi_recharge_sum" property="biRechargeSum" jdbcType="CHAR" />
        <result column="withdraw_cnt" property="withdrawCnt" jdbcType="CHAR" />
        <result column="bi_withdraw_sum" property="biWithdrawSum" jdbcType="CHAR" />
        <result column="bi_seven_balance" property="biSevenBalance" jdbcType="CHAR" />
        <result column="bi_thirteen_balance" property="biThirteenBalance" jdbcType="CHAR" />
        <result column="bi_cs_balance" property="biCsBalance" jdbcType="CHAR" />
        <result column="bi_transfer_loss" property="biTransferLoss" jdbcType="CHAR" />
        <result column="bi_original_capital" property="biOriginalCapital" jdbcType="CHAR" />
    </resultMap>


<!--    <select id="selectIvt" resultMap="BaseResultMap">-->
<!--    <select id="selectIvt" parameterType="java.lang.String" resultMap="BaseResultMap">-->
    <select id="selectIvt" parameterType="java.lang.String" resultType="com.maizi.fund.model.domain.InvtCashGuideDO">
        SELECT
        real_name AS realName,
        register_time AS registerTime,
        recharge_cnt AS rechargeCnt,
        bi_recharge_sum AS biRechargeSum,
        withdraw_cnt AS withdrawCnt,
        bi_withdraw_sum AS biWithdrawSum,
        bi_seven_balance AS biSevenBalance,
        bi_thirteen_balance AS biThirteenBalance,
        bi_cs_balance AS biCsBalance,
        bi_transfer_loss AS biTransferLoss,
        bi_original_capital AS biOriginalCapital,
        id_num AS idNum,
        mobile_num AS mobileNum,
        bi_debt_capital_sum AS biDebtCapitalSum,
        bi_debt_capital_sum * 0.8 AS biDebtCapitalSumEight
--         FROM dmt.invt_cash_guide
--         WHERE stat_date='2019-10-14'
--         AND bi_debt_capital_sum>0
        FROM dmt.invt_cash_guide_dt a
        --FROM odsopr_backup.fact_invt_cash_guide_tech_snapshot a
        where a.stat_date=#{select_time}
        <if test="mobile_num != ''">
            AND mobile_num=#{mobile_num}
        </if>
        <if test="id_num != ''">
            AND id_num=#{id_num}
        </if>
    </select>

    <select id="selectRechargeDetail" parameterType="java.lang.String" resultType="com.maizi.fund.model.domain.RechargeDetailDO">
        SELECT
        user_name AS userName,
        recharge_cnt AS rechargeCnt,
        recharge_time AS rechargeTime,
        recharge_amount AS rechargeAmount
        FROM dmt.recharhe_detail
        WHERE recharge_time &lt;= concat(#{select_time},' 23:59:59')
        <if test="mobile_num != ''">
            AND mobile_num=#{mobile_num}
        </if>
        <if test="id_num != ''">
            AND id_num=#{id_num}
        </if>
        ORDER BY recharge_cnt
    </select>


    <select id="selectWithdrawDetail" parameterType="java.lang.String" resultType="com.maizi.fund.model.domain.WithdrawDetailDO">
        SELECT
        withdraw_cnt AS withdrawCnt,
        withdraw_type AS withdrawType,
        withdraw_time AS withdrawTime,
        withdraw_amount AS withdrawAmount
        FROM dmt.withdraw_detail
        WHERE withdraw_time &lt;= concat(#{select_time},' 23:59:59')
        <if test="mobile_num != ''">
            AND mobile_num=#{mobile_num}
        </if>
        <if test="id_num != ''">
            AND id_num=#{id_num}
        </if>
        ORDER BY withdraw_time ASC,withdraw_cnt DESC
    </select>


    <select id="selectAggreementLocation" parameterType="java.lang.String" resultType="com.maizi.fund.model.domain.AggreementLocation">
        SELECT
        user_id as userId,
        p_type as pType,
        trans_id as transId,
        aggreement_time  as aggreementTime,
        aggreement_location as aggreementLocation,
        pdf_location as pdfLocation,
        mobile_num as mobileNum,
        original_price as originalPrice,
        price as price,
        lock_price as lockPrice	,
        transfer_price as transferPrice,
        repay_price as repayPrice
        FROM msc.tmp_aggreement_location
        WHERE pdf_location is not null
        and pdf_location != ''
        <if test="user_id != ''">
            AND user_id=cast(#{user_id} as int)
        </if>
        <if test="mobile_num != ''">
            AND mobile_num=#{mobile_num}
        </if>
        <!--<if test="mobile_num != ''">-->
            <!--AND mobile_num=#{mobile_num}-->
        <!--</if>-->
        <!--<if test="id_num != ''">-->
            <!--AND id_num=#{id_num}-->
        <!--</if>-->
    </select>

</mapper>